.app-header {
    background-color: #364e98;
    color: #fff;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    .header-item {
        display: flex;
        align-items: center;

        &.right {
            margin-left: auto;
        }
    }

    span {
        font-size: 1.5em;
        cursor: pointer;
        margin-left: 10px;
    }

    i {
        font-size: 2.5em;
        cursor: pointer;
    }
}